@import '../../styles/colors.scss';

.chBox {
  width: 200px;
  position: absolute;
  bottom: 48px;
  color: black;
  font-size: 13px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 0 8px 0 rgba(97, 120, 148, 0.26);
  cursor: pointer;

  .downArrow {
    content: '\00a0';
    display: block;
    left: 8px;
    position: absolute;
    bottom: -5px;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    z-index: 1;
    box-shadow: 0 0 8px 0 rgba(97, 120, 148, 0.26);
    background: #fff;
  }

  .chBoxContent {
    line-height: 39px;
    padding-left: 10px;
    height: 39px;
    position: relative;
    background: #fff;
    z-index: 2;
    border-radius: 6px;
    .chBoxContentInfo {
      float: left;
      .plusIcon {
        color: $orange;
        font-size: 15px;
      }
    }
    .chBoxControls {
      float: right;
      width: 15px;
      position: relative;
      height: 39px;
      border-left: 1px solid #abb5bf;
      padding-left: 6px;
      padding-right: 6px;
      line-height: 39px;
      cursor: pointer;
    }
  }
}
